@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

/* Hide scrollbar but keep functionality */
::-webkit-scrollbar {
  display: none;
}

/* Enable smooth scrolling and hide scrollbars for Firefox */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.font-comic {
  font-family: 'Comic Neue', cursive;
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px) scale(0.5);
    opacity: 0;
  }
}

.animate-float {
  animation: float 1s ease-out forwards;
}

.animate-bounce-slow {
  animation: bounce 2s infinite;
}

.animate-fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.animate-modal-appear {
  animation: modalAppear 0.3s ease-out forwards;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalAppear {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.comic-panel {
  position: relative;
  border: 3px solid #2d3748;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 0px #2d3748;
}

.comic-speech-bubble {
  position: relative;
  background: #fff;
  border: 3px solid #2d3748;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.comic-speech-bubble:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #2d3748 transparent transparent transparent;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;  
  font-weight: 400;   /* SemiBold */
  font-size: 1.5rem;       /* make it big */
  text-transform: uppercase;
  letter-spacing: 1px;
}

.font-lilita {
  font-family: 'Lilita One';
  font-weight: 400;
  font-style: normal;
}

/* .font-comic {
  font-family: 'Comic Neue', cursive;
} */

.font-pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-tenor {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-borel {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-berkshire {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}

.font-montserrat {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-poiret {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-dmtext {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.font-changa {
  font-family: "Changa One", sans-serif;
  font-weight: 200;
  font-style: normal;
}


.font-dancing {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-bree {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.font-acme {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-edu {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



